/* css reset */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    
    min-height: 100vh; 
    background-color: #ffe600;
}
.skin{
    position: relative;
}


.nose{
    border-top:black 15px solid;
    border-right:transparent 20px solid;
    border-bottom:15px solid transparent;
    border-left:20px solid transparent;
    border-bottom: none;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    position:relative;
    left:50%;
    top:145px;
    transform: translateX(-20px) translateY(-0px);
    z-index: 20;
}

.eyes{
    border:3px solid black;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #2e2e2e;
    position:absolute;
    left:50%;
    top:110px;
    transform: translateX(-30px)
}

.leftEye{
    margin-left:150px;
}

.rightEye{
    margin-left:-150px;
}



.eyes::before{
    display: block;
    content:'';
    border:3px solid #000;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    position:absolute;
    left:6px;
}

.lips{
    border:3px solid black;
    width: 80px;
    height: 30px;
    border-right:none;
    border-bottom:none;
    border-top-left-radius: 50px 30px;
    position: absolute;
    left: 50%;
    top:180px;
}
.leftLips{
    transform-origin: right top;
    transform: translateX(-81px) rotate(-160deg)
}
.rightLips{
    transform-origin: right top;
    transform: translateX(-79px) rotate(160deg) rotateY(180deg)
}
